{% extends 'after_login_base.html' %}

{% block title %}Add Cards{% endblock %}

{% block main %}
    <form action="{{ url_for('uploadcard') }}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Set</th>
                {#                <th scope="col">Set Number/Code</th>#}
                <th scope="col">Card Number</th>
                <th scope="col">Number of Cards</th>
                <th scope="col">Store at</th>
                <th scope="col">Pull From</th>


            </tr>
            </thead>
            <tbody>
            {% for foo in nofRow %}
                <tr>
                    <th scope="row">{{ foo + 1 }}</th>

                    <td>
                        <select class="custom-select selectwidthauto" name="SetCode{{ foo }}">
                            {% for set in Sets %}
                                <option value="{{ set.SetCode }}">{{ set.SetName }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control"
                               placeholder="Card"
                               name="CardNumber{{ foo }}">
                    </td>
                    <td>
                        <input type="text" class="form-control"
                               placeholder="Number of Cards"
                               name="NumberofCards{{ foo }}">
                    </td>
                    <td>
                        <input type="text" class="form-control"
                               placeholder="Store at"
                               name="StorePlace{{ foo }}">

                    </td>
                    <td>
                        <input type="text" class="form-control"
                               placeholder="Pull from"
                               name="Pull0">

                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <button type="submit" class="btn btn-block btn-primary" value="Submit">Submit</button>
    </form>


{% endblock %}



